<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div id="paypal-button"></div>

<script>
	var returnUrl = '{f:uri.action(action:"pay", absolute:"1", arguments:"{user:FeUser}")-> f:format.raw()}';
	var cancel_url = '{f:uri.action(action:"pay", absolute:"1", arguments:"{user:FeUser}")-> f:format.raw()}';
	var client_sandbox = '{settings.paypal.client.sandbox}';
    var client_production = '{settings.paypal.client.production}';
    var client_style_color = '{settings.paypal.client.style.color}';
    var client_style_size = '{settings.paypal.client.style.size}';
    var client_transactions_amount_total = '{settings.paypal.client.payment.transactions.amount.total}';
    var client_transactions_amount_currency = '{settings.paypal.client.payment.transactions.amount.currency}';
    paypal.Button.render({
        env: '{settings.paypal.env}', // Or 'sandbox', 'production"

        client: {
            sandbox:    client_sandbox,
            production: client_production
        },

        style: {
            color: client_style_color,
            size: client_style_size
        },

		// payment() is called when the button is clicked
        payment: function(data, actions) {
            // Make a call to the REST API to set up the payment
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: client_transactions_amount_total , currency:client_transactions_amount_currency  }
                        }
                    ],

                    redirect_urls: {
                        return_url: returnUrl,
                        cancel_url: cancel_url
                    }
                }
            });
        },


        commit: true, // Show a 'Pay Now' button

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function(data, actions) {

            // Make a call to the REST API to execute the payment
            return actions.payment.execute().then(function() {
                    actions.redirect();
                }
            );
        },

        onCancel: function(data, actions) {
            /*
			 * Buyer cancelled the payment
			 */
        },

        onError: function(err) {
            /*
			 * An error occurred during the transaction
			 */
        }
    }, '#paypal-button');
</script>
